*.cache

# Arquivos de compilação
bin/
obj/

# Arquivos de configuração
*.suo
*.user
*.sln.docstates

# Arquivos de cache do Visual Studio
*.userprefs
*.vs

# Logs
*.log

# Arquivos de backup
*~
*.bak

# Arquivos de histórico de teste
TestResults/

# Pacotes NuGet
packages/

# Arquivos gerados pela documentação
docs/

# Arquivos gerados pela publicação
_PublishedWebsites/
PublishProfiles/

# Arquivos de análise de código estático
*.dotSettings

# Arquivos de cobertura de código
*.coverage
*.opencover
*.dotCover

# Ferramentas de compilação
msbuild.exe
msbuild.log
msbuild??.txt
msbuild??.bin
roslyn/


# mica
*.vsidx
*.editorconfig
*.cache
hs.util/obj/project.assets.json
.vs/Hs/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/hs.metadata.v5.1
.vs/ProjectEvaluation/hs.projects.v5.1
